#mainBox{
    width: 100%;
}
html, body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  /* .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  } */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    height: calc((100% - 30px) / 2);

    /* Center slide text vertically; */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
  }
  #main-carousel{
      position: relative;
  }
  .outer-carousel .swiper-container {
    width: 100%;
    height: 595px;
    overflow: hidden;
  }
  .swiper-container img{
      width: 100%;
      height: 100%;
  }
  .outer-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .inner-carousel{
      /* position: relative; */
      position: absolute;
      /* background-color: rgba(0,0,0,.6); */

  }
.inner-carousel .swiper-container {
    position: absolute;
    width: 702px;
    height: 59px;
    position: absolute;
    left: 325px;
    bottom: 50px;
    border-radius: 29px;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    box-sizing: border-box;
    padding-right: 20px;
  }
.inner-carousel .swiper-slide {
    text-align: right;
    font-size: 12px;
    font-weight: 900;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .inner-carousel .swiper-slide span{
    padding-left: 165px;
  }
  /* .swiper-navigation-size{
    
    width: 20px;
  } */
  /* .inner-carousel .swiper-button-next{

    color: white;

  } */
  /* .inner-carousel .swiper-button-prev{
    color: white;
  } */
  #main-carousel h3{
    position: absolute;
    bottom: 70px;
    left: 380px;
    font-size: 14px;
    z-index: 5;
    color: white;
    font-weight: 900;
  }
  .periphery-1{
    width: 100%;
    background: #f7f7f8;
    padding-top: 50px;
}
.periphery-1 .swiper-container {
    width: 1140px;
    height: 700px;
    margin: 0 auto;
}
/* 左右按钮 */
.periphery-1 .tab-box-btn{
    width: 258px;
    height: 316px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #f7f7f8;
}
.periphery-1 .tab-box-btn p{
    font-size: 14px;
    color: #6d6d6d;
    margin-top: 25px;
    font-weight: bolder;
    text-align: center;
}
.periphery-1 .tab-box-btn h4{
    font-size: 50px;
    color: #b6a597;
    text-align: center;
}
.periphery-1 .tab-box-btn em{
    display: block;
    font-size: 30px;
    color: #b6a597;
    text-align: center;
    margin-bottom: 30px;
}
.periphery-1 .tab-box-btn ul{
    width: 120px;
    height: 48px;
    position: relative;
    left: 69px;
}
/* 周边轮播按钮 */
.periphery-1 .tab-box-btn ul li{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #e6e6e6;
    cursor: pointer;
    position: absolute
}
.tab-box-btn ul li:nth-child(2){
    left: 0;
  }
.tab-box-btn ul li:nth-child(1){
    right: 0;
}
/* 周边轮播商品 */
#big-box .pic-box{
    width: 100%;
    height: 100%;
}
#big-box .pic-box .pic{
    width: 258px;
    height: 316px;
    background: #fff;
    float: left;
    margin: 0 13px 20px;
}
#big-box .pic-box .pic a:nth-of-type(1){
    display: block;
    width: 100%;
    height: 258px;
    margin: auto;
    overflow: hidden;
}
#big-box .pic-box .pic a:nth-of-type(1) img{
    transition: 0.8s;
}
#big-box .pic-box .pic a:nth-of-type(1):hover img{
    transform: scale(1.2);
}
#big-box .pic-box .pic a img{
    width: 100%;
}
#big-box .pic-box .pic a:nth-of-type(2){
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #9a8069;
}
#big-box .pic-box .pic span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: red;
    margin-top: 8px;
}
#pop-menu{
  width: 1118px;
  margin: 0 auto;
  text-align: center;
}
#pop-menu .pop-series{
  padding-top: 20px;

}
#pop-menu .pop-series p{
  font-size: 14px;
  font-weight: 900;
  line-height: 34px;
  color: #6d6d6d;
}
#pop-menu .pop-series h2{
  color: #B6A597;
  font-size: 50px;
}
#pop-menu .pop-series em{
  color: #B6A597;
  font-size: 30px;
}
#pop-menu .pop-list{
  /* display: flex; */
  width: 100%;
  height: 88px;
  position: relative;
  /* align-items: center; */
}
#pop-menu .pop-list .seeMore{
  width: 136px;
  height: 39px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 19px;
  border: 1px solid #bca787;
  text-align: center;
  line-height: 39px;
}
#pop-menu .pop-list .seeMore a{
  color: #b6a597;
  font-size: 12px;
}
#pop-menu .pop-list .seeMore a:hover{
  text-decoration: underline;
  color: #e75014;
}
#pop-menu .pop-list .pop-ul{
  width: 593px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
#pop-menu .pop-list .pop-ul .active{
  background-color: #fa7c3d;
  color: #fff;
}
#pop-menu .pop-ul li{
  width: 84px;
  height: 39px;
  border: 1px solid #b6a597;
  line-height: 39px;
  font-size: 12px;
  color: #b6a597;
}
#pop-menu .pop-detail{
  width: 100%;
  height: 800px;
  position: relative;
}
#pop-menu .pop-show {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  /* display: none; */
}
#pop-menu .pop-show li{
  border-top: 2px solid #f5f5f5;
  width: 272px;
  height: 375px;
  margin-bottom: 10px;
}
#pop-menu .pop-show li .pop-img{
  width: 272px;
  height: 272px;
  overflow: hidden;
}
#pop-menu .pop-show li img{
  width: 272px;
  height: 272px;
  cursor: pointer;
  /* transition:  1000 ease ; */
  transition: 1s;
}
#pop-menu .pop-show li img:hover{
  transform: scale(1.3);
}
#pop-menu .pop-show div{
  width: 272px;
  height: 103px;
  background-color: #f5f5f5;
}
#pop-menu .pop-show div a{
  color:#333333;
  line-height: 58px;
}
#pop-menu .pop-show div a:hover{
  text-decoration: underline;
  color: #e75014;
  
}
#pop-menu .pop-show div p{
  font-size: 14px;
  color: #e75014;
}
#brand-series{
  width: 100%;
  height: 630px;
  background-color: #f7f7f9;
  text-align: center;
  position: relative;
}
#brand-series .brand-title{
  padding-top: 30px;

}
#brand-series .brand-title p{
  font-size: 14px;
  font-weight: 900;
  line-height: 34px;
  color: #6d6d6d;
}
#brand-series .brand-title h2{
  color: #B6A597;
  font-size: 50px;
}
#brand-series .brand-title em{
  color: #B6A597;
  font-size: 30px;
}
#brand-series .brand-show{
  width: 1210px;
  margin: 40px auto 0;
  display: flex;
}
#brand-series .brand-show a{
  display: block;
}
#brand-series .seeMore{
  width: 136px;
  height: 39px;
  position: absolute;
  right: 113px;
  top: 110px;
  border-radius: 19px;
  border: 1px solid #bca787;
  text-align: center;
  line-height: 39px;
}
#brand-series .seeMore a{
  color: #b6a597;
  font-size: 12px;
}
#brand-series .seeMore a:hover{
  text-decoration: underline;
  color: #e75014;
}
#creation-series{
  width: 100%;
  height: 600px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
#creation-series .brand-title{
  padding-top: 30px;

}
#creation-series .brand-title p{
  font-size: 14px;
  font-weight: 900;
  line-height: 34px;
  color: #6d6d6d;
}
#creation-series .brand-title h2{
  color: #B6A597;
  font-size: 50px;
}
#creation-series .brand-title em{
  color: #B6A597;
  font-size: 30px;
}
#creation-series .brand-show{
  width: 1210px;
  margin: 40px auto 0;
  display: flex;
}
#creation-series .brand-show a{
  display: block;
}
#creation-series .seeMore{
  width: 136px;
  height: 39px;
  position: absolute;
  right: 113px;
  top: 110px;
  border-radius: 19px;
  border: 1px solid #bca787;
  text-align: center;
  line-height: 39px;
}
#creation-series .seeMore a{
  color: #b6a597;
  font-size: 12px;
}
#creation-series .seeMore a:hover{
  text-decoration: underline;
  color: #e75014;
}
.creat-show .swiper-container{
  width: 1177px;
}
.creat-show .swiper-slide{
  width: 272px;
  height: 377px;
}
.creat-show .creat-img{
  width: 272px;
  height: 272px;
  overflow: hidden;
}
.creat-show .creat-img img{
  width: 100%;
  transition: 1s;
}
.creat-show .creat-img img:hover{
  transform: scale(1.3);
}
.creat-show .creat-infor{
  width: 272px;
  height: 103px;
  background-color: #f5f5f5;
}
.creat-show .creat-infor a{
  line-height: 65px;
  color: #333333;
  font-size: 16px;
  display: block;
}
.creat-show .creat-infor a:hover{
  text-decoration: underline;
  color: #e75014;
}
.creat-show .creat-infor p{
  color: #e75014;
  font-size: 14px;
}